@import url("buttons.css");
@import url("https://fonts.googleapis.com/css?family=Artifika|Oxygen");
@import url("card.css");
@import url("nav.css");



body {
    font-family: 'Oxygen', sans-serif;
}

h2 {
    font-family: 'Artifika', serif;
}


button .submit {
    border: 5px solid green;
    font-size: 18px;
    padding: 10px 15px;
}